<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <settings>
    <setting name="mapUnderscoreToCamelCase" value="true"/>
  </settings>
  <typeAliases>
	<typeAlias type="com.my.member.dto.Emp" alias="Emp"/>
  </typeAliases>
  <environments default="development">
    <environment id="development">
      <transactionManager type="JDBC"/>
      <dataSource type="POOLED">
        <property name="driver" value="oracle.jdbc.OracleDriver"/>
        <property name="url" value="jdbc:oracle:thin:@STUDYPROJECT_medium?TNS_ADMIN=C://opt//OracleCloudWallet//VFX"/>
        <property name="username" value="admin"/>
        <property name="password" value="Kosaproject2023"/>
      </dataSource>
    </environment>
  </environments>
  
  <mappers>
	<mapper resource="com/my/sql/emp.xml"/>
  </mappers>
</configuration>